@import "base.scss";
#header{
	height: 74px;
	background: #fff;
	line-height: 74px;
	img{margin-top: 10px;}
	
	.head-nav{
			li{
				margin:0 30px;
				float: left;
				a{
					font-size: $fontS16;
					line-height: 40px;
					padding-bottom: 2px;
					&:hover{
						color:$mcolor;
						border-bottom: 2px solid $mcolor;
					}
				}
			}
		}
	.textStyle{
		color:$mcolor;
		border-bottom: 2px solid $mcolor;
	}
}
.login-banner{
	height: 680px;
	background: url(../img/register-banner.jpg) no-repeat center;
}

#login{
	width: 430px;
	height: 510px;
	background: #fff;
	position: absolute;
	top: 150px;
	left: 200px;
	border-radius: 5px;
	overflow: hidden;

	.l_top{
		background: #f5f5f5;
		height:53px ;
		width: 100%;
		line-height: 53px;
		
		padding-left:20px;
		div{font-size: 18px;}
		i{
			margin-left: 160px;
			a{
				color:$mcolor;
				text-decoration: underline;
			}
		}
	}
	.l_bottom{
		width: 100%;
		padding-left:20px;
		height: 400px;
		li:nth-child(1){span{letter-spacing: 13px;}}
		li:nth-child(2){span{letter-spacing: 4px;}}
		li{
			width: 380px;
			height: 40px;
			margin-top: 30px;
			border: 1px solid #e9ebed;
			line-height: 40px;
			span{
				width: 104px;
				margin-left: 10px;
				display: inline-block;
				font-size: 14px;
			}
			button{
				width: 100%;
				height: 100%;
				background:  $mcolor;
				border: 0;
				font-size: 16px;
				color: #fff;
			}
			input{
				width: 249px;
				height: 38px;
				border: 0;
			}
			p{
				line-height: 30px;
				a{
					letter-spacing:0;
					color: #ef0019;
				
			}
				i{

					display: inline-block;
					width: 12px;
					height: 12px;
					margin-right: 10px;
					img{width: 100%}
				}
			}
			
		}
		
	}
}
.l_deal{margin: 30px 0 30px 4px;}
.deal{color: $mcolor}